{{define "modal"}}
<style>
  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

  h3,h4 {
    word-wrap: break-word;
    font-family: 'Bebas Neue', sans-serif;
    color: #5e4259;
  }

  button {
    padding: 10px 20px;
    text-transform: uppercase;
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 500;
    color: #00000080;
    text-shadow: none;
    background: transparent;
    box-shadow: transparent;
    border: 1px solid #0c0c0c80;
    transition: 0.5s ease;
    user-select: none;
  }

  .wrapping {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  #btn:hover,
  :focus-visible {
    color: #c78d4b;
    background: #c78d4b;
    border: 1px solid #fff;
    box-shadow: 0 0 2px #c78d4b, 0 0 10px #c78d4b, 0 0 10px #c78d4b,
      0 0 50px #c78d4b;
  }
</style>
<div class="modal fade" id="modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div style="display: flex;align-items: center;justify-content: space-between;    border-bottom: black;
      border-style: outset; ">
        <div class="modal-header" style="display: flex;align-items: center; flex-direction: column;">
          <div id="band-name">
            <h3 style="text-decoration:underline;font-weight:bold">Band Name</h3>
            <h4 class="modal-title" id="modal-title"></h4>
          </div>
          <div id="creation-date">
            <h3 style="text-decoration:underline;font-weight:bold">Founded on</h3>
            <h4 id="crdate"></h4>
          </div>
          <div id="First-Album">
            <h3 style="text-decoration:underline;font-weight:bold">First Album </h3>
            <h4 id="F_Adate"></h4>
          </div>

        </div>
        <div>
          <img id="modal-img" class="object-cover w-16 h-16 rounded-full"
            style="height: auto;width: 70%;margin-top: -2%;" />
        </div>
      </div>
      <div style="display: flex;flex-direction: column;border-bottom: black;border-style: outset;">
        <div style="display: flex;flex-direction: column;">
        <h3 style="align-self: center;text-decoration:underline;font-weight:bold">Band Members</h3>
        <h4 id="modal-body-members" style="margin: auto;padding: 2px;"></h4>
      </div>
      <div style="display: flex;flex-direction: column;">
        <h3 style="align-self: center;text-decoration:underline;font-weight:bold">Concerts</h3>
        <h4 id="modal-body-concerts" style="margin: auto;padding: 2px;"></h4>
      </div>
      </div>

      <div class="modal-body" id="modal-body">
        <div id="map" style="width: 100%; height: 500px;"></div>
      </div>
      <div class="modal-footer">
        <button id="btn" class="px-8 py-4" data-dismiss="modal">Close</button>
        </button>
      </div>
    </div>
  </div>
</div>
{{end}}
